.homepage-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 100vh;
}

.homepage-left {
  margin: auto 70px;
}

.homepage-right {
  min-height: 100vh;
  width: 48%;
  background-image: asset-url("home_banner_2.png");
  background-size: cover;
  background-position: center;
}

.homepage-image img {
  width: 100%;
  min-height: 100vh;
}

.homepage-description {
  margin-right: 48px;
  white-space: nowrap;
}

.homepage-description h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 68px;
  max-height: 164px;
  font-family: 'Inter', sans-serif;
  // width: 606px;
}

.homepage-description h3 {
  margin-top: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter', sans-serif;
}

.homepage-description p {
  margin-top: 8px;
  margin-bottom: 48px;
  font-weight: normal;
  font-size: 18px;
  max-width: 475px;
  line-height: 21px;
  font-family: 'Roboto', sans-serif;
}
