.post-grid {
  display: grid;
  grid-template-columns: 1fr 440px;
  min-height: 100%;
}

.sidebar {
  display: flex;
  align-items: center;
  padding-top: 64px;
  flex-direction: column;
  background-image: asset-url("post_banner.png");
  background-size: cover;
  position: sticky;
  top: 0;
}
