.post-grid {
  display: grid;
  grid-template-columns: 1fr 440px;
  min-height: 100%;
  margin: 68px 52px;
}

.post-info {
  max-width: 80%;
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: asset-url("post_banner.png");
  background-size: cover;
  position: fixed;
  top: 0;
  min-height: 100vh;
  max-width: 440px;
  right: 0;
}

.post-content {
  padding: 48px 0px;;
}


body > div > main > div > main > div.post-info > h1 {
  padding: 58px 0;
}


.post-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  padding: 0 48px;
  padding-top: 100px;
  margin: 0;
}

.post-description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #72777A;
}


