.post-grid {
  display: grid;
  grid-template-columns: 1fr 440px;
  min-height: 100%;
}

.sidebar {
  display: flex;
  align-items: center;
  padding-top: 64px;
  flex-direction: column;
  background-image: asset-url("post_banner.png");
  background-size: cover;
  position: sticky;
  top: 0;
  height: calc(100vh - 84px);
}

.post-content {
  padding: 56px 64px;
}


.photo-grid {

}


.post-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;

  margin-bottom: 32px;
}

.post-description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

}
