<%= content_for(:navbar_class, "navbar-home") %>

<div class=homepage-container>
  <div class=homepage-left>
    <div class=homepage-description>
      <h1>We look for rentals<br />on your <span style="color:#5538EE">behalf</span>.</h1>
      <h3>Looking for an apartment, room or house?</h3>
      <p>Notifa contacts you as soon as a rental listing is uploaded<br />anywhere online so you are always the first one to know.</p>
      <%= link_to "Search now!", "#", class: "btn btn-ghost" %>
    </div>
  </div>

  <div class=homepage-right>
    <div class=homepage-image>
      <%= image_tag "home_banner.png", :crop => :fill %>
      <!-- <img src="https://images.unsplash.com/photo-1593279", alt=""> -->
    </div>
  </div>
</div>
