
<div class="container">
  <h1 class="post-title"><%= @posts.title %></h1>

  <div class="booking-box">
    <p>Rent per month</p>
    <p><%= @posts.price %></p>
    <p>From 1 OCT 2021</p>
      <div class="booking-card-grid">
        <div>
          <i class="ti ti-map-pin"></i>
          <p>Mitte</p>
        </div>
        <div>
          <i class="ti ti-map-pin"></i>
          <p>Mitte</p>
        </div>
        <div>
          <i class="ti ti-map-pin"></i>
          <p>Mitte</p>
        </div>
        <div>
          <i class="ti ti-map-pin"></i>
          <p>Mitte</p>
        </div>
      </div>

    <%= image_tag "logo1.png" %>
    <%= link_to "Apply", root_path %>
  </div>
</div>
