.booking-box {
  background: white;
  border-radius: 16px;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  width: 300px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}
