.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 68px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.card {
border: 1px solid #E3E5E5;
  border: 1px solid #E3E5E5;
  box-shadow: 0px 2px 25px 5px rgba(0, 0, 0, 0.08);
  border-style: none;
  width: 300px;
  height: 264px;
}

.info {
  padding: 12px 10px 12px 10px;
}

.address {
  padding-bottom: 0px;
  font-size: 14px;
  line-height: 0px;
  padding-top: 8px;
}

.rooms {
  font-weight: lighter;
  font-size: 10px;
  color: #72777A;
  line-height: 0px;
}

.price-date-wrapper {
  display: flex;
  justify-content: space-between;
}

.from-date {
  background-color: #F2F4F5;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  font-size: 10px;
  // line-height: 0px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.mins-ago {
  position: absolute;
  background-color: #F2F4F5;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  font-size: 8px;
  left: 8px;
  top: 6px;
}

.website-logo {
  position: absolute;
  right: 10px;
  top: 154px;
}

.card-img {
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
    width: 300px;
    height: 168px;
  }
