#map {
  // height: 100vh;
  position: sticky;
  // top: 0;
}

.mapboxgl-popup {
  max-width: 300px;
  max-height: 300px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;

    .cards {
    grid-template-columns: 1fr;
      .card {
        width: auto;
        .card-img {
          object-fit: cover;
          width: 220px;
        }
      }
  }
}

// .card-map {
//   border-radius: 8px;
//   border: 1px solid #E3E5E5;
//   box-shadow: 0px 2px 25px 5px rgba(0, 0, 0, 0.08);
//   border-style: none;
//   width: 200px;
//   height: 160px;
// }

