#map {
  // height: calc(100vh - 12px);
  // width: 100%;
  position: sticky;
  top: 0;
}

.mapboxgl-popup {
  max-width: 300px;
  max-height: 300px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
    .cards {
    grid-template-columns: 1fr;
      .card {
        width: auto;
        .card-img {
          object-fit: cover;
          width: 220px;
        }
      }
  }
}

.price-tag {
  background-color: white;
  width: auto;
  height: auto;
  border-radius: 8px;
  padding: 18px;
  font-size: 20px;
}
