.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 2px 25px 5px rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 68px;
  background: url(notifa_logo.svg);
  background-size: 180px 68px;
  margin-left: 51px;
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
  .search-city {

  }
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    margin-right: 12px;
}

.avatar {
  margin-right: 55px;
}

.ti-search {
  position: absolute;
  top: 11px;
  left: 12px;
  cursor: pointer;
  color: #767676;
  font-size: 18px;
}

.navbar-submit {
  // border-radius: 24px;
  // background-color: $notifa-purple;
  // padding-left: 0 12px;

  position: absolute;
  top: 13px;
  left: 12px;
  cursor: pointer;
  color: #767676;
  font-size: 18px;
}

.city-submit {
  border-radius: 24px;
  background-color: $notifa-purple;
  padding: 0 24px;
}

.city-input {
  border: 0;
  background-color: #F2F4F5;
  padding-right: 69px;
  border-radius: 48px;
  text-indent: 32px;
}

